@import "../../../public/styles/config.scss";

.TrustedMain {
	padding: 9rem 0;
	background-color: #dadcde;

	.brandSection{
		padding: 12rem 0 0 0;
	}

	h3{
		text-align: center;
		text-transform: capitalize;
		color: $textCommon;
		font-size: 2rem;
		font-weight: bold;
	}

	img{
		min-width: 10rem;
		height: 10rem;
	}

	.brandSectionSlider{
		margin-top: 3.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px){
			margin-top: 3.2rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			text-align: center;
		}
	}
}
