
$black: #212529;
$white: #fff;
$helper: #8490ff;
$btn: rgb(98, 84, 243);

$heading: rgb(24, 24, 29);

$backGround: #f6f8fa;
$textCommon: rgba(29, 29, 29, 0.8);

$shadowSupport: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$border: rgba(98, 84, 243, 0.5);